@media print {
    body {
        margin: 0px;
        padding: 0px;
    }
    .table th, .table tr, .table td {
        font-size: 10px;
        padding: 0px;
    }
    .table-condensed thead>tr>th, .table-condensed tbody>tr>th, .table-condensed tfoot>tr>th, .table-condensed thead>tr>td, .table-condensed tbody>tr>td, .table-condensed tfoot>tr>td {
        padding: 0px;
        font-size: 10px;
    }
}